In [1]:
import pandas as pd
from datetime import datetime, timedelta
import os

In [2]:
def create_folder(folder_name):
    if not os.path.exists(folder_name):
        os.makedirs(folder_name)

In [3]:
def create_folder(folder_path):
    if not os.path.exists(folder_path):
        os.makedirs(folder_path)

def process_tweets_in_batches(df, output_base_folder, batch_size=500):
    # Ensure the output base folder exists
    create_folder(output_base_folder)
    
    # Divide DataFrame into batches of the given size
    num_batches = (len(df) + batch_size - 1) // batch_size  # Calculate total batches
    
    for batch_idx in range(num_batches):
        # Slice the DataFrame for the current batch
        start_idx = batch_idx * batch_size
        end_idx = min(start_idx + batch_size, len(df))
        batch_df = df.iloc[start_idx:end_idx]
        
        # Generate the output file name for the batch
        output_file = os.path.join(output_base_folder, f"batch_{batch_idx + 1}.txt")
        
        # Save the batch to a text file
        batch_df.to_csv(output_file, columns=['text'], index=False, header=False)
        
        # Log progress
        print(f"Batch {batch_idx + 1}: Stored {len(batch_df)} tweets in {output_file}")

In [4]:
df =pd.read_csv('cricket_tweet_.csv') 
output_folder = 'output_tweets'

In [5]:
df.head()

,id,user_name,user_location,user_description,created_at,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,retweets,favorites,is_retweet
0,1.433440e+18,Cricket World,Global,Official Twitter account of Cricket World - ne...,23-01-2009 10:49,58699,9834,90829,True,02-09-2021 14:43,üèè Rizwan Cheema has been named team captain of...,NaN,Twitter Web App,0,0,False
1,1.433440e+18,‚ìÇÔ∏èithun,"‡§Æ‡•Å‡§Ç‡§¨‡§à, ‡§≠‡§æ‡§∞‡§§",Cricket üèè\nPhotographyüì∑ \nWildlifeüêÖ \nNatureüå≥,09-01-2010 15:38,7,97,343,False,02-09-2021 14:37,Virat Kohli being fixated on retaining specifi...,NaN,Twitter for Android,0,0,False
2,1.433440e+18,Akram Khan,NaN,BLOGGER | Ôº£Ôº≤Ôº©Ôº£Ôº´Ôº•Ôº¥ Ôº¨ÔºØÔº∂Ôº•Ôº≤ | Fond of full forms,08-07-2014 00:39,1455,39,8486,False,02-09-2021 14:28,"My tribute to the world's fastest bowler ever,...",['shoaibakhtarpeaceambassador'],Twitter Web App,1,3,False
3,1.433430e+18,Mr.P,"Mumbai, India",nothing,25-08-2013 10:07,15,675,4590,False,02-09-2021 14:17,this guy's life is incomplete without Kohli's ...,NaN,Twitter for Android,0,5,False
4,1.433430e+18,Cricket_Kith,NaN,"Crick, Crick, Cricketüèè\nDon't Throw Your Wicke...",01-09-2021 11:39,0,6,27,False,02-09-2021 14:15,When Rishabh Pant Stepped Out Robinson üòÇ\nWhol...,"['ENGvIND', 'Cricket', 'BCCI', 'Ovaltest', 'No...",Twitter for Android,0,1,False

In [6]:
df.shape

(60862, 16)

In [7]:
df1=df.head(10000)

In [8]:
df1.shape

(10000, 16)

In [9]:
process_tweets_in_batches(df1,output_folder)

Batch 1: Stored 500 tweets in output_tweets\batch_1.txt
Batch 2: Stored 500 tweets in output_tweets\batch_2.txt
Batch 3: Stored 500 tweets in output_tweets\batch_3.txt
Batch 4: Stored 500 tweets in output_tweets\batch_4.txt
Batch 5: Stored 500 tweets in output_tweets\batch_5.txt
Batch 6: Stored 500 tweets in output_tweets\batch_6.txt
Batch 7: Stored 500 tweets in output_tweets\batch_7.txt
Batch 8: Stored 500 tweets in output_tweets\batch_8.txt
Batch 9: Stored 500 tweets in output_tweets\batch_9.txt
Batch 10: Stored 500 tweets in output_tweets\batch_10.txt
Batch 11: Stored 500 tweets in output_tweets\batch_11.txt
Batch 12: Stored 500 tweets in output_tweets\batch_12.txt
Batch 13: Stored 500 tweets in output_tweets\batch_13.txt
Batch 14: Stored 500 tweets in output_tweets\batch_14.txt
Batch 15: Stored 500 tweets in output_tweets\batch_15.txt
Batch 16: Stored 500 tweets in output_tweets\batch_16.txt
Batch 17: Stored 500 tweets in output_tweets\batch_17.txt
Batch 18: Stored 500 tweets in output_tweets\batch_18.txt
Batch 19: Stored 500 tweets in output_tweets\batch_19.txt
Batch 20: Stored 500 tweets in output_tweets\batch_20.txt